:root {
  --dark-slate-gray: hsl(234, 29%, 20%);
  --grey: hsl(231, 7%, 60%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --tomato: hsl(4, 100%, 67%);
}

@font-face {
  font-family: Roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto-regular;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-slate-gray);
  min-height: 100vh;
  color: var(--charcoal-grey);
}

.container {
  width: 900px;
  background-color: white;
  padding: 30px;
  display: flex;
  gap: 50px;
  border-radius: 20px;
  color: white;
}

.container .right {
  width: 50%;
}
.container .left {
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
}
.container img {
  width: 100%;
}
.container h1 {
  font-size: 58px;
  margin-bottom: 20px;
}
.container ul {
  margin-top: 20px;
  list-style: none;
}

.container li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
}

.container li::before {
  position: absolute;
  content: "";
  background-image: url(./assets/images/icon-list.svg);
  top: 0px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.container input,
button {
  padding: 20px 20px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--grey);
}
.container input {
  margin-bottom: 10px;
}
button {
  color: white;
  background-color: var(--dark-slate-gray);
  border-radius: 5px;
}

button:hover {
  transform: scale(1.01);
  transition-duration: 0.2s;
  cursor: pointer;
}
.container label {
  font-family: Roboto-bold;
  font-size: 12px;
}

/* success message styling */

.success-msg-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
}

.success-msg-container img {
  width: 60px;
}

.success-msg-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.success-msg-container button {
  background-color: var(--tomato);
  font-size: 12px;
  padding: 10px;
}
